:root {
  --primary-fontfont-family: 'DM Sans', sans-serif;
  --secondary-fontfont-family: 'Neue Montreal', sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  --primary-black-color: #242424;
  --primary-background-color: #f4f4f4;
  --primary-white-color: #f4f4f4;
  --secondary-black-text-color: rgba(36, 36, 36, 0.5);
  --secondary-white-text-color: rgba(244, 244, 244, 0.5);
  --black-text-opacity-fourty-color: rgba(36, 36, 36, 0.4);
  --white-text-opacity-fourty-color: rgba(244, 244, 244, 0.5);
  --rating-color-active: #eea10c;
  --rating-color-inactive: rgba(244, 244, 244, 0.2);
  --pagination-color-inactive: #d4d4d4;
  --error-color: rgb(255, 0, 0);
  --white-color: #ffffff;
  --footer-text-color: #c6cdd1;

  /* Backdrop */
  --background-color: rgba(18, 20, 23, 0.4);

  /* Transition properties */
  --transition-effect: linear;
  --transition-time: 300ms;
  --transition-dur-and-func: 300ms linear;

  /* Breakpoints */
  --mobile: 375px;
  --mobile-max: 767.98px;
  --tablet: 768px;
  --table-max: 1399.98px;
  --desktop: 1440px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body.dark {
}
