.exercise__section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;

  @media (1440px<=width) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

}
}

.exercise__title {
  font-family: var(--primary-fontfont-family);
font-size: 28px;
font-weight: 400;
margin-bottom: 20px;
line-height: 38px;
letter-spacing: -0.02em;
text-align: left;

  @media (1440px<=width) {
      margin: 0;
      flex-grow: 1;
  }
}

.search__container {
  position: relative;
  margin-bottom: 20px;

  @media (1440px<=width) {
    display: flex;
    flex-grow: 2;
    justify-content: center;
  }
}

.search__input {
  width: 100%;
  padding: 12px 14px;
  border-radius: 30px;
  border: 1px solid var(--primary-black-color);

  @media (1440px<=width) {
    width: 273px;
    height: 48px;
    padding: 12px 14px;
    margin: 0 20px;
  }
}

.search__button {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;

  @media (1440px<=width) {
    right: 10px;
  }
}

.exercise__list {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  font-family: var(--primary-fontfont-family);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0em;
  line-height: 20px;
  text-align: left;

  @media (1440px<=width) {
    flex-wrap: nowrap;
gap: 20px;
margin: 0;
height: 32px;
  }
}

.exercise__list a {
  text-decoration: none;
  color: black;
  font-size: 16px
}

.exercise__list a.active {
  border-bottom: 3px solid black;
}
