<div class='container'>
  <div class='hero__text-wrap'>
    <div class='hero__title-wrap'>
      <img class='hero__icon' src='../images/hero/sun.svg' alt='icon of sun'>
      <h1 class='hero__title'>
        Get Body in shape, Stay healthy
      </h1>
    </div>
    <p class='subtitle'>
      Transform your physique and embrace a healthier lifestyle with
      our comprehensive fitness and nutrition support.
    </p>
  </div>

  <img
    class='hero__img'
    src='../images/hero/women-mob1x.jpg'
    srcset='../images/hero/women-mob2x.jpg 2x' alt=''
  />
</div>