<div class='container hero__container'>
  <div class='hero__text-wrap'>
    <div class='hero__title-wrap'>
      <img class='hero__icon' src='../images/hero/sun.svg' alt='icon of sun'>
      <h1 class='hero__title'>Get <span class='hero__title--span'>Body</span> in <br> shape, Stay healthy</h1>
    </div>
    <p class='subtitle'>
      Transform your physique and embrace a healthier lifestyle with
      our comprehensive fitness and nutrition support.
    </p>
  </div>



  <div class='hero__hashthags-wrap'>

  </div>
</div>