<div class="backdrop is-hidden" data-mobile-menu>
  <div data-mobile-menu-content class="mobile__menu">
    <div></div>
    <nav class="mobile__nav">
      <ul class="mobile__nav__list">
        <li class="mobile__nav__item">
          <a class="mobile__nav__link is-active-link" href="/">Home</a>
        </li>
        <li class="mobile__nav__item">
          <a class="mobile__nav__link is-active-link" href="./favorites.html"
            >Favorites</a
          >
        </li>
      </ul>
    </nav>

    <ul class="mobile__menu__social__list">
      <li>
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="mobile__menu__social__icon" aria-label="Facebook icon">
            <use href="/images/icons-sprite.svg#icon-facebook"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="mobile__menu__social__icon" aria-label="Instagram icon">
            <use href="/images/icons-sprite.svg#icon-instagram"></use>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.youtube.com/c/GoIT"
          target="_blank"
          rel="noopener noreferrer"
        >
          <svg class="mobile__menu__social__icon" aria-label="Youtube icon">
            <use href="/images/icons-sprite.svg#icon-youtube"></use>
          </svg>
        </a>
      </li>
    </ul>
  </div>
</div>
