<div class="rating-modal-window">
  <div class="modal-content">
    <button class="rating-close"></button>
    <form class="feedback">
      <div class="rating-inputs">
        <input class="feedback-email base-input" name="email" type="text" placeholder="Email">
        <textarea rows="3" class="feedback-input base-textarea" name="feedback" placeholder="Your feedback"></textarea>
      </div>
      <input class="feedback-submit base-submit" type="submit" value="Send">
    </form>
  </div>
</div>