<div class="rating-modal-window" data-modal-miss-click>
  <div class="modal-content">
    <button class="rating-close"></button>
    <form class="feedback">
      <div class="rating">
        <p class="rating-text">Rating</p>
        <div class="rating-stars">
          <input type="radio" id="star5" name="rating" value="5">
          <label for="star5"></label>
          <input type="radio" id="star4" name="rating" value="4">
          <label for="star4"></label>
          <input type="radio" id="star3" name="rating" value="3">
          <label for="star3"></label>
          <input type="radio" id="star2" name="rating" value="2">
          <label for="star2"></label>
          <input type="radio" id="star1" name="rating" value="1">
          <label for="star1"></label>
          <p class="rating-count">0.0</p>
        </div>
      </div>
    
      <div class="rating-inputs">
        <input class="feedback-email base-input" name="email" type="text" placeholder="Email">
        <textarea rows="3" class="feedback-input base-textarea" name="feedback" placeholder="Your feedback"></textarea>
      </div>
      <input class="feedback-submit base-submit" type="submit" value="Send">
    </form>
  </div>
</div>