/* utils */
@import url('./utils/variables.css');
@import url('./utils/fonts.css');
@import url('./utils/reset.css');
@import url('./utils/common.css');
@import url('./utils/container.css');

/* layout */
@import url('./layout/header.css');
@import url('./layout/footer.css');

/* components */
@import url('./components/auth-modal.css');
@import url('./components/scrollup.css');
@import url('./components/hero.css');
@import url('./components/quotes.css');
